@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* universal style */
body {
  font-family: poppins;
}

/* shared style */
.icon {
  width: 30px;
  height: 30px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font {
  color: rgb(58, 58, 58);
  font-weight: 700;
}

/* header section style */
#menu-bar {
  display: none;
}
.header {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  margin-left: 35px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(58, 58, 58);
}
.nav-items {
  gap: 35px;
}
.nav-title {
  font-size: 1.5rem;
}

/* hero section style */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

.hero-description {
  max-width: 580px;
}
.hero-title {
  font-size: 3.25rem;
  margin-bottom: 0px;
}

.button {
  background-color: rgb(224, 44, 109);
  border-radius: 41px;
  width: 196px;
  height: 44px;
  padding: 10px 24px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.hero-image-container {
  max-width: 475px;
}

.hero-image-bg {
  background-image: url(images/Circle\ design.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px;
}
.hero-image {
  width: 100%;
}

.web-link-container {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 70px;
}

.line {
  border: none;
  height: 2px;
  background: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.378%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.web-link-items {
  justify-content: space-around;
  margin: 36px 60px;
}

/* main section styles */

.card-section {
  max-width: 1047px;
  margin: 0 auto;
  margin-top: 100px;
}

.card-section-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.card-image {
  width: 100%;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(24, 25, 31);
  margin: 15px;
}
.card-price {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin: 15px;
}

.card-description {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(120, 120, 133);
  margin: 15px;
}
/* media query small device */

@media screen and (max-width: 576px) {
  #menu-bar {
    display: block;
  }
  #search {
    display: none;
  }
  .nav-bar {
    display: none;
  }
  .header {
    justify-content: space-around;
    text-align: center;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-description {
    text-align: center;
  }
  .web-link-items {
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* media query medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .header {
    text-align: center;
  }

  .nav-bar {
    text-wrap: nowrap;
  }

  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-description {
    text-align: center;
  }
  .web-link-items {
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
